<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MIST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5294EB7C1E10F47400CF60A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5294EB921E10F47400CF60A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5294EB9D1E10F47400CF60A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
